# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_NAME=your_database_name

# ClickHouse
CLICKHOUSE_URL=http://54.157.210.72
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=gggg

#SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-email-password

#JWT
JWT_SECRET=1234567890

#BTCPAY
API_URL=https://btcpay.denovolab.com/api
API_KEY=gggg
STORE_ID=ggg
WEBHOOK_SECRET=gggg

#ADMIN BASIC AUTH
ADMIN_LOGIN=ggg
ADMIN_PASSOWRD=hhh

FRONTEND_URL=example.com

#TELCOMDATA
TELCOMDATA_API_URL=https://telcomdata.us/api
TELCOMDATA_EMAIL=gggg@gmail.com
TELCOMDATA_PASSWORD=hh
